.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}

.logo {
    width: 10vw;
    border-radius: 50vw;
    box-shadow: 0 0 0.5vw gray;
}

.navbar {
    width: 90vw;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 1em;
}

.label_container {
    width: 10vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.label_text {
    font-size: 1.3vh;
    width: 10vw;
    padding-bottom: 10px;
}

.label_text:hover {
    color: gray;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

@media (max-width: 600px) {
    .logo {
        width: 30vw;
    }
} 

@media (max-width: 900px) {
    .container {
        margin-bottom: 5vh;
    }
    
    .logo {
        width: 12vw;
    }

    .navbar {
        display: none;
    }
}

@media (min-width: 1920px) {
    .logo {
        width: 10vw;
    }

}

@media (min-width: 2500px) {
    .logo {
        width: 6vw;
    }
}