.home_main {
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: center;
}

.home_articles_container {
  width: 95%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1vw;
}

.home_article_container {
  flex: 0 45%;
  display: flex;
  flex-direction: column;
  height: 20vh;
  padding: 1vw;
  margin-block: 2vh;
  justify-content: space-between;
  border-radius: 1.5vw;
  box-shadow: 0 0 0.5vw gray;
}

.home_article_title {
  font-size: 1.5vh;
  text-align: center;
}

.home_article_button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 3vh;
  cursor: pointer;
  border-radius: 5vw;
  background-color: transparent;
  box-shadow: 0 0 0.5vw gray;
  border-width: 0px;
  margin-bottom: 1vh;
  font-size: 1vh;
}

.home_article_button:hover {
  background-color: lightgray;
}

.home_pagination_container {
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-inline: 0px;
  font-size: 1vh;
}

.home_pagination {
  color: darkgray;
}

.home_pagination_page {
  color: black
}

.home_pagination_active {
  color: darkgray
}

.home_pagination:hover {
  color: darkgray;
  cursor: pointer;
}

.home_pagination_page:hover {
  color: darkgray;
  cursor: pointer;
}

@media (max-width: 600px) {
  .home_articles_container {
    width: 100%;
    flex-direction: column;
  }

  .home_article_container {
    width: 85%;
    min-height: 20vh;
    
  }
}