.home_main {
  padding: 2vw 0;
}

.home_articles_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1vw;
}

.home_article_container {
  flex: 0 46%;
  display: flex;
  flex-direction: column;
  height: 20vh;
  padding: 1vw;
  margin-block: 2vh;
  justify-content: space-between;
  border-radius: 1.5vw;
  box-shadow: 0 0 0.5vw gray;
}

.home_article_title {
  font-size: 1.5vh;
  text-align: center
}

.home_article_button {
  height: 3vh;
  cursor: pointer;
  border-radius: 5vw;
  background-color: white;
  box-shadow: 0 0 0.5vw gray;
  border-width: 0;
  margin-inline: 10vw;
  margin-bottom: 1vh;
  font-size: 1vh;
}

.home_article_button:hover {
  background-color: lightgray;
}

.home_pagination_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-left: 0px;
}

.home_pagination_active {
  color: darkgray;
}

.home_pagination_disabled {
  color: darkgray;
}

.home_pagination_next {
  font-size: 1vh;
  padding-inline: 1vw;
}

.home_pagination_next:hover {
  color: darkgray;
  cursor: pointer;
}

.home_pagination_previous {
  font-size: 1vh;
  padding-inline: 1vw;
}

.home_pagination_previous:hover {
  color: darkgray;
  cursor: pointer;
}

.home_pagination_page {
  margin-left: 1.8vw;
  margin-right: 1.8vw;
  font-size: 1vh;
}

.home_pagination_page:hover {
  color: gray;
  cursor: pointer;
}

.home_pagination_break {
  font-size: 1vh;
}

.home_pagination_break:hover {
  cursor: pointer;
  color: darkgray
}

@media (max-width: 600px) {
  .home_grid {
    width: 100%;
    flex-direction: column;
  }

  .home_main {
    padding: 0px
  }

  .home_articles_container {
    padding-inline: 4vw;
  }

  .home_article_container {
    flex: 0 100%;
    height: 30vh;
  }
}

@media (max-width: 900px) {
  .home_main {
    padding: 0px
  }
}

@media (min-width: 2500px) {
  .home_articles_container {
    padding-inline: 9vw;
  }
  .home_article_container { 
    flex: 0 40%;
  }
}